@font-face {
  font-family: 'Marven';
  src: url('../fonts/MavenPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MavenPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MavenPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MavenPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MavenPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MavenPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
  font-size: 20px;
  color: #333333;
  font-family: 'Marven', Arial, sans-serif; 
}

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; 
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Marven', Arial, sans-serif; 
}

a {
  color: #333333;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; 
}
  a:focus, a:hover {
    color: #0085A1; 
  }

a img:focus, a img:hover {
  cursor: zoom-in; 
}
.btn-primary:hover {
  background-color: #19c1a7;
  border-color: #29e2c5;
}
.pad-t-100 {
  padding-top: 100px;
}

.header-revo {
  background-size: 100%; 
  min-height: 600px;
  background-repeat: no-repeat;
  padding-bottom: 40px;}
.wrap-circle {
  text-align: center;
  margin-top: 80px;}
  .wrap-circle .circle-down {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    background: #1ce2be;
    border-radius: 100px;
    color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 21px 11px rgba(204,204,223,0.25);
    -moz-box-shadow: 0px 0px 21px 11px rgba(204,204,223,0.25);
    box-shadow: 0px 0px 21px 11px rgba(204,204,223,0.25);
  }

#mainNav {
  position: absolute;
  background-color: transparent;
  font-family: 'Marven', Helvetica, Arial, sans-serif;
  width: 100%;
  z-index: 9999999;
}
  .container-navbar {
    padding-top: 10px;
  }
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #777777; 
  }
  .navbar-brand img {
    width: 90px;
  }
  .navbar-nav {
    float: right;
    list-style: none;
    margin-right: -15px;
  }
  .navbar-nav li {
    padding: 10px 20px;
  }
  .item-btn {
    padding-top: 4px !important;
    padding-right: 0px !important;
  }
  .nav-btn {
    background: #21e7c8;
    border: none;
    border-radius: 100px;
    padding: 12px 35px !important;
  }
  .navbar-nav .nav-link {
    color: #717171;
  }
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    display: none;
    text-transform: uppercase;
    color: #777777; 
  }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: "Marven", sans-serif;}
    #mainNav .navbar-nav > li.nav-item > a:hover, a:focus {
      border-bottom: 1px solid #29e2c5;
      padding-bottom: 10px !important;
      text-decoration: none;
      color: #29e2c5;
    }
    #mainNav .navbar-nav > li.item-btn > a:hover, a:focus {
      border-bottom: 0px;
    }
  
  @media only screen and (min-width: 1170px) {
    #mainNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden; }
      #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -77px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9); }
        #mainNav.is-fixed .navbar-brand {
          color: #333333; }
          #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
            color: #0085A1; }
        #mainNav.is-fixed .navbar-nav > li.nav-item > a {
          color: #717171; }
          #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
            color: #29e2c5; }
        #mainNav.is-fixed .navbar-nav > li.item-btn> a {
          color: #ffffff;}
          #mainNav.is-fixed .navbar-nav > li.item-btn > a:focus, #mainNav.is-fixed .navbar-nav > li.item-btn > a:hover {
            color: #ffffff;}
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

/*---------------Slider------------------------*/        
.carousel1 {
  min-height: 200px;
  min-width: 100px;
  margin-top: 100px; }
  .carousel1 .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #717171;
  }
  .carousel1 .main-title {
    font-size: 40px;
    font-weight: 600;
    color: #717171;
    line-height: 50px;
    padding-top: 10px;
  }
  .carousel1 .description {
    font-size: 16px;
    padding-top: 15px;
    max-width: 392px;
  }
  .carousel1 .action-header {
    margin-top: 20px;
  }
  .btn-active {
    background: #21e7c8;
    border: none;
    border-radius: 100px;
    padding: 12px 45px !important;
  }
  .btn-passive {
    background: #afafaf;
    border: none;
    border-radius: 100px;
    padding: 12px 45px !important;
  }
  .carousel1 .wrapper-image {
    display: inline-block;}
    .wrapper-image .image-slider img {
      width: 80%;
      float: right;
    }

/*-----How it works---*/

#how-it-works {
  display: inline-block;
  width: 100%;}
  #how-it-works .left-section {
    display: inline-block;
  }
  .left-section .wrap-img {
    margin: 100px 0px 0px -30px;}
    .left-section .wrap-img img {
      width: 100%}

  #how-it-works .right-section {
    display: inline-block;
    min-height: 750px;}
    #how-it-works .right-section .wrap-content {
      margin-top: 160px;
      max-width: 360px;
      padding-left: 15px;}
      .content-hit .title {
        font-family: 'marven', sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 15px;
      }
      .content-hit .main-title {
        font-family: 'marven', sans-serif;
        font-size: 40px;
        font-weight: 600;
        max-width: 360px;
        line-height: 50px;
        color: #015b49;
        letter-spacing: -1px;
        margin-bottom: 30px;
      }
      .content-hit .description {
        font-size: 16px;
        color: white;
        text-align: justify;
        margin-bottom: 15px;
        line-height: 20px;
      }
  .action-hit {
    display: inline-block;
    padding-top: 10px;
  }
  .btn-white {
    background: white;
    color: #717171;
    border: none;
    font-family: 'marven', sans-serif;
    border-radius: 100px;
    padding: 12px 45px !important; 
  }
#how-it-works .wrap-circle {
  margin-top: 20px;}
  #how-it-works .wrap-circle .circle-down {
    position: absolute;
    left: 50%;
    margin-left: -22.5px;
    bottom: -110px;
    background: white;
    color: #717171;
    padding: 12px;
    font-size: 18px;
  }

/*-------Features---------*/

#features {
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 80px;
  padding-bottom: 80px;}
  #features .wrap-title {
    padding-top: 80px;
    text-align: center;
    font-family: 'marven', sans-serif;
    color: white;
    margin-bottom: 80px;}
    .top-title {
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 2px;
      display: inline-block;}
      .top-title:before {
        width: 50px;
        height: 1px;
        background: white;
        display: inline-block;
        content: '';
        margin-right: 10px;
        margin-bottom: 4px;
      }
      .top-title:after {
        width: 50px;
        height: 1px;
        background: white;
        display: inline-block;
        content: '';
        margin-left: 0px;
        margin-bottom: 4px;
      }
    .wrap-title .main-title {
      font-size: 60px;
    }
    .wrap-title .description {
      font-size: 16px;
    }
  #features .wrap-item {
    margin-top: 20px;
  }
  #features .wrapper-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;}
    .wrapper-item .features-content {
      display: inline-block;}
      .features-content .left-content {
        display: inline-block;
        float: left;
        margin-right: 20px;
        padding-top: 10px;
      }
      .fatures-content .right-content {
        display: inline-block;
        width: 75%;}
        .wrap-description .title {
          font-size: 24px;
          color: white;
        }
        .wrap-description .description {
          font-size: 14px;
          color: white;
          padding-top: 10px;
        }
#features .wrap-circle {
  margin-top: 20px;}
  #features .wrap-circle .circle-down {
    position: absolute;
    left: 50%;
    margin-left: -22.5px;
    bottom: -100px;
    background: white;
    color: #717171;
    padding: 12px;
    font-size: 18px;
    -moz-box-shadow: 0px 0px 21px 11px rgba(173, 170, 170, 0.25);
    -webkit-box-shadow: 0px 0px 21px 11px rgba(173, 170, 170, 0.25);
    box-shadow: 0px 0px 21px 11px rgba(173, 170, 170, 0.25);
  }

/*----Why Choose Us?---=*/
#why-us {
  background-color: #f9fafc;
  font-family: 'marven', sans-serif;
  padding-top: 100px;
  padding-bottom: 130px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2; }
  #why-us .wrap-title {
    margin-bottom: 100px;}
    #why-us .wrap-title .title {
      font-size: 20px;
      color: #9fa4af;
      text-transform: uppercase;
      font-weight: 600;
    }
    #why-us .wrap-title .main-title {
      font-size: 50px;
      letter-spacing: -1px;
      max-width: 80%;
      font-weight: 600;
    }
  #why-us .wrap-content {
    display: inline-block;}
    #why-us .wrap-content .main-content {
      padding: 0px 20px;
    }
    #why-us .wrap-content .main-content .box {
      display: inline-block;
      width: 100%;
      padding: 15px;
      background-color: white;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 80px 12px rgba(204, 204, 223, 0.25);
      -moz-box-shadow: 0px 0px 80px 12px rgba(204, 204, 223, 0.25);
      box-shadow: 0px 0px 80px 12px rgba(204, 204, 223, 0.25);}
      .box .wrap-img {
        margin: 10px auto;
        max-width: 130px;}
        .box .wrap-img img {
          max-width: 100%;
        }
      .box .descripiton {
        font-family: 'marven', sans-serif;}
        .box .description .title-content {
          font-size: 19px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 30px;
          color: #585858;
          line-height: 25px;
          max-width: 280px;
          margin: 30px auto;
        }
      .box .detail {
        font-family: 'Marven';
        text-align: center;
        font-size: 16px;
        color: #9fa4af;
        margin-bottom: 10px;
      }
#why-us .wrap-circle {
  margin-top: 20px;}
  #why-us .wrap-circle .circle-down {
    position: absolute;
    left: 50%;
    margin-left: -22.5px;
    bottom: -150px;
    padding: 12px;
    font-size: 18px;
  }

/*---Testimonials---*/
#testimonials {
  padding: 60px 0px; }
  #testimonials .row {
    padding: 0px 100px; }
    #testimonials .wrap-slider {
      padding: 0px 40px; }
      #testimonials .wrap-slider .mini-title {
        font-family: 'marven', sans-serif;
        font-size: 16px;
        color: #9fa4af;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      #testimonials .wrap-slider .main-title {
        font-size: 42px;
        font-weight: 600;
        color: #4f4f6f;
        margin-top: 15px;
      }
      #testimonials .comment {
        margin: 30px 0px;
        font-size: 18px;
        color: #4f4f6f;
      }
      #testimonials .user-profile {
        display: inline-block;
        width: 100%; }
        #testimonials .user-profile .wrap-avatar {
          display: inline-block;
          float: left;
          margin-right: 15px;}
          #testimonials .user-profile .wrap-avatar .avatar {
            width: 45px;}
            #testimonials .user-profile .wrap-avatar .avatar img{
              max-width: 100%;
            }
        #testimonials .wrap-identity {
          display: inline-block;
          padding-top: 3px;
          font-family: 'marven', sans-serif;}
          .wrap-identity .profile-name {
            font-size: 15px;
            font-weight: 600;
            color: #9fa4af;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          .wrap-identity .bio {
            color: #9fa4af;
            font-size: 14px;
            margin-top: -1px;
          }

    #testimonials .grafik-info {
      padding-top: 120px;}
      #testimonials .grafik-info img {
        max-width: 100%;
      }
/*---CTA---*/
#cta {
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 130px 0px;
  min-height: 830px;
  margin-bottom: 30px;}
  #cta .wrap-content {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;}
    #cta .wrap-content .mini-title {
      font-size: 16px;
      color: white;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
    #cta .wrap-content .main-title {
      font-size: 40px;
      color: white;
      font-weight: 600;
      margin-bottom: 25px;
    }
    #cta .wrap-content .wrap-action {
      display: inline-block;}
      #cta .wrap-action .btn-orange {
        background: #f7cf46;
        color: white;
        border: none;
        font-family: 'marven', sans-serif;
        border-radius: 100px;
        padding: 12px;
        width: 170px;
      }
      #cta .wrap-action .btn-white {
        padding: 12px !important;
        width: 170px;
      }

/*---Footer Section---*/
#footer {
  display: inline-block;
  width: 100%;
  padding: 0px 40px; }
  #footer .top-section {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #cccaca;
    padding-bottom: 10px; }
    #footer .top-section .left-content {
      display: inline-block;
      padding-left: 0px;
    }
    #footer .top-section .right-content {
      display: inline-block;
      padding-right: 0px; }
      #footer .right-content .nav-footer {
        display: inline-block;
        float: right;
        list-style: none;}
        .nav-footer > li {
          display: inline-block;
          padding: 0px 20px;
          float: left;}
          .nav-footer li > a {
            font-family: 'marven', sans-serif;
            font-size: 15px;
            color: #717171; }
            .nav-footer li > a:hover, a:focus {
              border-bottom: 1px solid #717171;
              padding-bottom: 10px !important;
              text-decoration: none;
              color: #717171;
            }
  #footer .bot-section {
    display: inline-block;
    width: 100%; }
    #footer .bot-section .wrap-bot {
      display: inline-block;
      width: 100%;
      padding-top: 15px;}
      #footer .bot-section .left-section {
        display: inline-block;
        padding-left: 0px;
        font-size: 15px;
        font-weight: 600;
        color: #717171 }
      #footer .bot-section .right-section {
        display: inline-block;
        padding-right: 0px; }
        #footer .bot-section .icn-footer {
          display: inline-block;
          float: right;
          list-style: none;}
          .icn-footer > li {
            display: inline-block;
            padding: 0px 5px;
            float: left;}
            .icn-footer li > a {
              font-family: 'maven', sans-serif;
              font-size: 16px;
              color: #b4b4bb; }
              .icn-footer li > a:hover {
                text-transform: none; }

.slider > .slick-dots,
.slider > .slick-arrow {
  display: none !important;
}
.testi-slider > .slick-arrow {
  display: none !important;}
.testi-slider > .slick-dots {
  text-align: left;
  bottom: -45px;}
  .testi-slider > .slick-dots li {
    width: 10px;
  }
  .testi-slider > .slick-dots li button {
    background: #e2daf9;
    border-radius: 100px;
    width: 8px;
    height: 8px;}
    .testi-slider > .slick-dots li.slick-active button {
      background: #4be0ce;
      width: 9px;
      height: 9px;
    }
  .testi-slider > .slick-dots li button:before {
    display: none !important;
  }

